.grid {
  margin-top: 50px;
  margin-bottom: 20vh;
  display: grid;
  gap: 40px;
  grid-template-columns: 270px 1fr;
}

.aside {
  & > div {
    padding: 20px 0;
    position: sticky;
    top: 50px;

    border: 1px solid #f3f4f5;
    border-left: none;
    border-right: none;
  }
}

.properties {
  margin-top: 28px;
}

.select + .select {
  margin-top: 10px;
}
